<!-- IF not S_IS_BOT -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 2 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- surgutgrad.ru -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7854349718987560"
     data-ad-slot="4145548015"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 7 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- surgutgrad.ru -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7854349718987560"
     data-ad-slot="4145548015"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
		<!-- IF SCRIPT_NAME eq 'index' and forumrow.S_ROW_COUNT == 18 -->
		<li class="row" style="background-color:#DAE6ED;">
			<dl>
				<dt title="Google Adsense">
					<div class="list-inner" style="width:100%;">
					<span class="forum-image"><img src="./images/google.png" alt="Google Adsense"></span>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- surgutgrad.ru -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7854349718987560"
     data-ad-slot="4145548015"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</div>
				</dt>
			</dl>
		</li>
		<!-- ENDIF -->
<!-- ENDIF -->