<!-- IF not S_IS_BOT -->
<!-- IF postrow.S_FIRST_ROW -->
<div class="panel online" style="padding-top:0;padding-bottom:0;background-color:#ECF3F7;">
	<div style="overflow:hidden; height:90px; position:relative;"><img src="{ROOT_PATH}images/warnad.png" alt="Disable adblock" width="90" height="90" style="float:left; margin-right:10px;" class="responsive-hide" /><p style="font-size:1.5em;padding-top:12px;padding-left:10px;">This site is supported by ads and donations.<br />If you see this text you are blocking our ads.<br />Please consider a <a href="http://www.phpbb3bbcodes.com/donate.php"><strong>Donation</strong></a> to support the site.</p>
		<div style="position:absolute; top:0; left:0;">
		Your adsense code goes here
		</div>
	</div>
</div>
<hr class="divider" />
<!-- ENDIF -->
<!-- IF postrow.S_ROW_COUNT > 1 and postrow.S_LAST_ROW -->
<div class="panel online" style="padding-top:0;padding-bottom:0;background-color:#ECF3F7;">
	<div style="overflow:hidden; height:90px; position:relative;"><img src="{ROOT_PATH}images/warnad.png" alt="Disable adblock" width="90" height="90" style="float:left; margin-right:10px;" class="responsive-hide" /><p style="font-size:1.5em;padding-top:12px;padding-left:10px;">This site is supported by ads and donations.<br />If you see this text you are blocking our ads.<br />Please consider a <a href="http://www.phpbb3bbcodes.com/donate.php"><strong>Donation</strong></a> to support the site.</p>
		<div style="position:absolute; top:0; left:0;">
		Your adsense code goes here
		</div>
	</div>
</div>
<hr class="divider" />
<!-- ENDIF -->
<!-- IF postrow.S_ROW_COUNT == 3 and not postrow.S_LAST_ROW -->
<div class="panel online" style="padding-top:0;padding-bottom:0;background-color:#ECF3F7;">
	<div style="overflow:hidden; height:90px; position:relative;"><img src="{ROOT_PATH}images/warnad.png" alt="Disable adblock" width="90" height="90" style="float:left; margin-right:10px;" class="responsive-hide" /><p style="font-size:1.5em;padding-top:12px;padding-left:10px;">This site is supported by ads and donations.<br />If you see this text you are blocking our ads.<br />Please consider a <a href="http://www.phpbb3bbcodes.com/donate.php"><strong>Donation</strong></a> to support the site.</p>
		<div style="position:absolute; top:0; left:0;">
		Your adsense code goes here
		</div>
	</div>
</div>
<hr class="divider" />
<!-- ENDIF -->
<!-- ENDIF -->